<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header results-block">
      <strong>Name: </strong> <%= friend.full_name %>
      <strong>Email: </strong> <%= friend.email %>
      <%= link_to "View Profile", '#',  class: "btn btn-sm btn-success" %>
      <%= link_to 'Follow friend?', '#', class: "btn btn-sm btn-success", method: :post %>
    </div>
  <% end %>
<% end %>

